<div>
    <h1>Welcome to Battle the game</h1>
    <h2>please enter the two player names below</h2>
</div>

<div class="form-container">
    <form>
        <label>Player 1 name</label>
        <input type="text" name="player1">
        <label>Player 2 name</label>
        <input type="text" name="player2">
        <input type="submit" value="Start Game">
    </form>
</div>


<style>
body {
    text-align: center;
}

input {
    display: block;
    margin: 5px auto;
}

.form-container {
    background-color: #eee;
    max-width: 500px; 
    margin: 20px auto;
}

</style>